.pager {
    margin: 1rem;
}

.pager button {
    margin-bottom: 1rem;
    cursor: pointer;
    border: 1px solid #ddd;
    border-radius: 15px;
    padding: 5px 14px;
    color: #337ab7;
    background-color: #fff;
    font-weight: bolder;
}

.pager button:hover {
    color: #1c588a;
}

.pager button:disabled {
    cursor: auto;
    color: #98bddc;
}

.down {
    float: left;
}

.up {
    float: right;
}

.pageNum {
    text-align: center;
}